@import "/src/layout.scss";

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .left {
    display: flex;
    flex: 3;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 28px;
      }

      @include md {
        span {
          display: none;
        }
      }

      @include sm {
        span {
          display: initial;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .register {
      background-color: #fece51;
    }

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 24px;
      margin: 20px;
    }
    .signIn {
      padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        position: relative;
    }
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      position: relative; // Add position relative here
      span {
        @include sm {
          display: none;
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }

      .profile {
        padding: 12px 24px;
        background-color: #fece51;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        position: relative; // Add position relative here

        .notification {
          top: -8px;
          right: -8px;
          position: absolute;
          background-color: red;
          color: white;
          border-radius: 50%;
          height: 26px;
          width: 26px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.4s ease; // Add transition for smooth animation
        }

        &:hover .notification {
          transform: scale(1.05); // Add hover effect to notification
        }
      }
    }

    .menuIcon {
      z-index: 999; // Ensure button is positioned relative to its container
      display: none;

      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
        // Ensure button is above other content
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: fixed;
      top: 0;
      right: -50%;
      background-color: rgb(0, 0, 0);
      color: white;
      height: 100vh;
      width: 50%;
      z-index: 998; // Set initial z-index below .menuIcon button
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.active {
        right: 0;
        // Ensure .menu is above other content when active
      }
      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}
